<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="processor-module">
  <template>
    <style>
      :host {display: block;}
      .not-load {border:1px solid lightsalmon;padding: 5px;}
      .not-load p {font-size: 13pt;color: lightsalmon;padding: 5px;}
      .ok-load {border:1px solid #007bff;padding: 5px;}
      .ok-load p {font-size: 13pt;color: #007bff;padding: 5px;}
      hr {border:0.3px solid #ddd;}
    </style>
    <template is="dom-if" if="[[isOkProcessor]]">
      <div class="ok-load">
        <p>[[msg]]</p>
        <hr>
        <p>[[getInfoProcessor]]</p>
      </div>
    </template>
    <template is="dom-if" if="[[!isOkProcessor]]">
      <div class="not-load">
        <p>[[msg]]</p>
        <hr>
        <p>[[getInfoProcessor]]</p>
      </div>
    </template>
  </template>

  <script>
    /**
     * `processor-module`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ProcessorModule extends Polymer.Element {

      static get is() { return 'processor-module'; }
      
      static get properties() {
        return {
          architecture: {
            observer: '_isArchitecture',
            type: Number,
            value: 32
          },
          provider: {
            type: String,
            value: 'GFT-México'
          },
          name: {
            type: String,
            value: 'core-gft-mx'
          },
          isOkProcessor: {
            type: Boolean,
            notify: true
          },
          msg: {
            type: String,
            value: `No se pudo cargar el procesador, verifique!`
          },
          getInfoProcessor: {
            type: String,
            computed: '_getInfoProcessor(architecture, provider, name)'
          }
        };
      }
      
      setDefaultValues() {
        this.architecture = 32;
        this.provider = 'GFT-México';
        this.name = 'core-gft-mx';
      }

      _isArchitecture(newValue, oldValue) {
        if (!newValue) {
          this.setDefaultValues();
        }
        this.isOkProcessor = true;
        this.msg = `Procesador cargado exitosamente!`;
      }

      _getInfoProcessor(architecture, provider, name) {
        return architecture !== undefined ? `Seleccionaste un procesador 
        ${name} de ${architecture} bits (${provider})`: `Se desconocen 
        los datos para el procesador, verifique!`;
      }
    }
    window.customElements.define(ProcessorModule.is, ProcessorModule);
  </script>
</dom-module>
